{% extends 'cakeshop/base.html' %}

{% block title %}
{{ cake.name }}
{% endblock title %}

{% block content %}
<h1>{{ cake.name }}</h1>
<p>Price: {{ cake.price }} VND</p>
<p>Description: {{ cake.description }}</p>
<form action="{% url 'cakeshop:add_to_cart' cake.id %}" method="post">
    {% csrf_token %}
    <label class="font-weight-bold">Quantity: </label>
    <input type="number" name="quantity" value="1" class="input" min="1" placeholder="Type...">
    <button type="submit" class="view_Product-btn_add_to_Cart">
        Add to cart
        <i class="fa-solid fa-cart-shopping icon_cart"></i>
    </button>
</form>
{% endblock content %}