{% extends 'cakeshop/base.html' %}
{% load static %}

{% block additionalCss %}

<link rel="stylesheet" href="{% static '/css/fontawesome.min.css' %}">
<link rel="stylesheet" href="{% static '/css/base.css' %}">
<link rel="stylesheet" href="{% static '/css/main.css' %}">
<link rel="stylesheet" href="{% static '/css/responsive.css' %}">
{% endblock additionalCss %}


{% block title %}
    Home
{% endblock title %}
    

{% block content %}
<div class="myapp container-fluid">
    <div class="main__slider">
        <div class="background-slider">
            <div class="row">
                <div class="col-12 background-slider__column">
                    <div class="background-slider__list">
                        <div class="background-slider__item img-fluid"
                            style="background-image: url(/static/img/slider_1.png);">
                            <span class="background-slider__content">My kitchen <br> is for <br> dancing</span>
                        </div>
                        <div class="background-slider__item img-fluid"
                            style="background-image: url(/static/img/slider_2.png);">
                            <span class="background-slider__content">My kitchen <br> is for <br> dancing</span>
                        </div>
                        <div class="background-slider__item img-fluid"
                            style="background-image: url(/static/img/slider_3.png);">
                            <span class="background-slider__content">My kitchen <br> is for <br> dancing</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="introduce">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="introduce__background" style="background-image: url(./static/img/home-item_1.png);">
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="introduce__background introduce__background-content">
                        <div class="introduce__background-content-wrapper">
                            <span class="introduce__background-title">
                                Sweat Treats
                            </span>
                            <p class="introduce__background-para">
                                There are many variations of passages of Lorem Ipsum available, but the majority
                                have suffered alteration in some form, by injected humour, or randomised words which
                                don't look even slightly believable.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="introduce__background" style="background-image: url(./static/img/home-item_2.png);">
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="introduce__background introduce__background-content">
                        <div class="introduce__background-content-wrapper">
                            <span class="introduce__background-title">
                                Bakery Hours
                            </span>
                            <p class="introduce__background-para">
                                Monday...............................................10am-12am
                                Tuesday...............................................10am-12am
                                Wednesday.......................................10am-12am
                                Thursday..........................................10am-12am
                                Friday...............................................10am-12am
                                Saturday............................................10am-12am
                                Sunday...............................................10am-12am
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="introduce__background" style="background-image: url(./static/img/home-item_3.png);">
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="introduce__background introduce__background-content">
                        <div class="introduce__background-content-wrapper">
                            <span class="introduce__background-title">
                                Hire Us to make you something !
                            </span>
                            <p class="introduce__background-para">
                                There are many variations of passages of Lorem Ipsum available
                            </p>
                            <ul class="para-list">
                                <li class="para-text">
                                    <i class="fas fa-home me-3 para-icon"></i> New York Break US
                                </li>
                                <li class="para-text">
                                    <i class="fas fa-envelope me-3 para-icon"></i> info@example.com
                                </li>
                                <li class="para-text">
                                    <i class="fas fa-phone me-3 para-icon"></i> + 01 234 567 88
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="introduce__background" style="background-image: url(./static/img/home-item_4.png);">
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="introduce__background introduce__background-content">
                        <div class="introduce__background-content-wrapper">
                            <span class="introduce__background-title">
                                Sweat Treats
                            </span>
                            <p class="introduce__background-para">
                                There are many variations of passages of Lorem Ipsum available, but the majority
                                have suffered alteration in some form, by injected humour, or randomised words which
                                don't look even slightly believable.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="introduce__background" style="background-image: url(./static/img/home-item_5.png);">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}



{% block additionalJs %}
<script src="{% static '/js/slider.js' %}"></script>

{% endblock additionalJs %}