{% extends 'cakeshop/base.html' %}
{% load static %}

{% block additionalCss %}
<link rel="stylesheet" href="{% static '/css/base.css' %}">
<link rel="stylesheet" href="{% static '/css/main.css' %}">
<link rel="stylesheet" href="{% static '/css/responsive.css' %}">
<link rel="stylesheet" href="{% static '/css/products.css' %}">
{% endblock additionalCss %}

{% block content %}
<div class="main__slider">
    <div class="background-slider">
        <div class="row">
            <div class="col-12 background-slider__column">
                <div class="background-slider__list">
                    <div class="background-slider__item background-slider__item-products img-fluid"
                        style="background-image: url(/static/img/slider_1.png);">
                        <span class="background-slider__content">My kitchen <br> is for <br> dancing</span>
                    </div>
                    <div class="background-slider__item background-slider__item-products img-fluid"
                        style="background-image: url(/static/img/slider_2.png);">
                        <span class="background-slider__content">My kitchen <br> is for <br> dancing</span>
                    </div>
                    <div class="background-slider__item background-slider__item-products img-fluid"
                        style="background-image: url(/static/img/slider_3.png);">
                        <span class="background-slider__content">My kitchen <br> is for <br> dancing</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main__content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2">
                <div class="col-12">
                    <div class="row">
                        <h3 class="content__category-title">Category</h3>
                    </div>
                    <ul class="row content__category-list">
                        {% for category in categories %}
                        <a href="{% url 'cakeshop:cate_detail' category.id %}"
                            class="col-lg-12 col-md-2 col-sm-3 content__category-link">
                            <li class="content__category-item">
                                {{ category.name }}
                            </li>
                        </a>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-12 d-lg-block d-md-none d-sm-none">
                    <div class="row">
                        <a href="#">
                            <div class="advertisement__picture shine-box"
                                style="background-image: url(./static/img/slider_2.png);">
                                <div class="advertisement__discount-bg">
                                    <span class="advertisement__discount-text">-50%</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 products__list-item-move">
                <div class="row">
                    <div class="banner-wrapper">
                        <div class="col-12 banner_bacground"
                            style="background-image: url(./static/img/home-item_1.png);">

                        </div>
                        <div class="col-12 banner_bacground"
                            style="background-image: url(./static/img/home-item_2.png);">

                        </div>
                        <div class="col-12 banner_bacground"
                            style="background-image: url(./static/img/home-item_3.png);">

                        </div>
                        <div class="col-12 banner_bacground"
                            style="background-image: url(./static/img/home-item_4.png);">

                        </div>
                        <div class="col-12 banner_bacground"
                            style="background-image: url(./static/img/home-item_5.png);">

                        </div>
                    </div>
                </div>
                <div class="row product_item-wrapper">
                    {% for cake in cakes %}
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="products__item">
                            <a class="product_item-link" id="it{{ cake.id }}" onclick="showModal('{{ cake.id }}')">
                                <div class="item__picture-wrapper">
                                    <div class="item__picture" style="background-image: url('{{ cake.image_url }}');">
                                    </div>
                                </div>
                            </a>
                            <div class="item__info">
                                <h4 class="item__name">{{ cake.name }}</h4>
                                <span class="item__price">${{ cake.price }}</span>
                                <div class="item__btn">
                                    <a onclick="showModal('{{ cake.id }}')" class="item__link-cart" id="item__link-btn">
                                        <i class="fa-solid fa-cart-shopping item__icon"></i>
                                        <span class="item__text">
                                            Order Now !
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal" id="modal{{ cake.id }}">
                        <div class="modal__overlay" onclick="hideModal('{{ cake.id }}')"></div>
                        <div class="container item__detail-size">
                            <div class="row item__detail">
                                <form action="{% url 'cakeshop:add_to_cart' cake.id %}" method="post"
                                    class="row item__detail" style="padding: 0px;">
                                    {% csrf_token %}
                                    <div class="col-lg-6 col-sm-12">
                                        <div class="item__detail-background"
                                            style="background-image: url('{{ cake.image_url }}');"></div>
                                    </div>
                                    <div class="col-lg-6 col-sm-12">
                                        <div class="item_detail-content">
                                            <h1 class="item_detail-name">{{ cake.name }}</h1>
                                            <p class="item_detail-para">
                                                {{ cake.description }}

                                            </p>
                                            <span class="item__price">${{ cake.price }}</span>
                                            <div class="item_detail-quantity-wrapper">
                                                <span class="item_detail-input-label">Quantity</span>
                                                <input class="item_detail-input" type="number" required name="quantity"
                                                    id="quantity" min="1" value="1"
                                                    onKeyPress="if(this.value.length==0) return false;"
                                                    inputmode="numeric"
                                                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');">
                                            </div>
                                        </div>
                                        <div class="item_detail-btn-wrapper">
                                            <button type="submit" class="item_detail-btn-add">
                                                <i class="fa-solid fa-cake shop-item__link-icon"></i>
                                                <i class="fa-duotone fa-pie shop-item__link-icon"></i>
                                                <span class="shop-item__link-text">
                                                    Order now !
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <center>
                        <h2>No cake available.</h2>
                    </center>
                    {% endfor %}
                </div>
                <div class="row">
                    <h3 class="company_name">Budget-Friendly Cake Selection</h3>
                    <div class="company-wrapper">
                        {% for cake in cheap_cakes %}
                        <div class="col-12 company-item">
                            <a id="it{{ cake.id }}" onclick="showModal('{{ cake.id }}')" class="company_link">
                                <div class="company_bacground shine-box"
                                    style="background-image: url('{{cake.image_url}}');">
                                    <div class="company_name-wrapper">
                                        <center><span class="company_name-text">{{cake.name}}</span></center>
                                    </div>
                                </div>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-lg-2 d-lg-block d-md-none d-sm-none">
                <div class="col-12">
                    <div class="row">
                        <h3 class="content__category-title">Comment</h3>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="comment__wrapper-slider">
                                    <div class="comment__wrapper">
                                        <i class="fa-solid fa-quote-left comment__icon"></i>
                                        <p class="comment__para">There are many variations of passages of Lorem
                                            Ipsum available, but the majority have suffered alteration in some form,
                                            by injected humour, or randomised words which don't look even slightly
                                            believable.</p>
                                        <div class="comment__avatar"
                                            style="background-image: url(./static/img/avatar_1.png);"></div>
                                        <h4 class="comment__name">Diana Melverich</h4>
                                    </div>
                                    <div class="comment__wrapper">
                                        <i class="fa-solid fa-quote-left comment__icon"></i>
                                        <p class="comment__para">There are many variations of passages of Lorem
                                            Ipsum available, but the majority have suffered alteration in some form,
                                            by injected humour, or randomised words which don't look even slightly
                                            believable.</p>
                                        <div class="comment__avatar"
                                            style="background-image: url(./static/img/avatar_2.png);"></div>
                                        <h4 class="comment__name">Annan joly</h4>
                                    </div>
                                    <div class="comment__wrapper">
                                        <i class="fa-solid fa-quote-left comment__icon"></i>
                                        <p class="comment__para">There are many variations of passages of Lorem
                                            Ipsum available, but the majority have suffered alteration in some form,
                                            by injected humour, or randomised words which don't look even slightly
                                            believable.</p>
                                        <div class="comment__avatar"
                                            style="background-image: url(./static/img/avatar_3.png);"></div>
                                        <h4 class="comment__name">Tristiana Romeo</h4>
                                    </div>
                                    <div class="comment__wrapper">
                                        <i class="fa-solid fa-quote-left comment__icon"></i>
                                        <p class="comment__para">There are many variations of passages of Lorem
                                            Ipsum available, but the majority have suffered alteration in some form,
                                            by injected humour, or randomised words which don't look even slightly
                                            believable.</p>
                                        <div class="comment__avatar"
                                            style="background-image: url(./static/img/avatar_4.png);"></div>
                                        <h4 class="comment__name">John Baker</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 d-lg-block d-md-none d-sm-none">
                    <div class="row">
                        <a href="#">
                            <div class="advertisement__picture shine-box"
                                style="background-image: url(./static/img/adv_1.png);">
                                <div class="advertisement__discount-bg">
                                    <span class="advertisement__discount-text">-50%</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock content %}

{% block additionalJs %}

<script src="{% static '/js/slider.js' %}"></script>
<script src="{% static '/js/click_Event.js' %}"></script>

{% endblock additionalJs %}


</html>