<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Info Responsive</title>
    <style>
        body {
            padding-top: 30px;
        }

        .row {
            margin: 4px 0px;
        }

        .info_content {
            margin-bottom: 30px;
        }

        p {
            text-align: justify;
            word-wrap: break-word;
            overflow-wrap: break-word;
        }

        .category {
            background-color: #f2f2f2;
            padding: 20px;
        }

        .category h3 {
            margin-top: 0;
        }

        .category ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        .category li {
            margin-bottom: 10px;
        }

        .category a {
            text-decoration: none;
            color: #333;
        }

        .products {
            padding: 20px;
            width: 75%;
            display: flex;
            
        }

        .col-lg-3.product{
            border: 2px solid red;
            width: 300px;
            justify-content: center;
            margin: 0 !important;
        }

        .product h4 {
            margin-top: 10px;
        }

        .product p {
            font-size: 14px;
        }

        .product img {
            width: 100%;
            height: auto;
        }

        @media (max-width: 768px) {
            .category {
                display: none;
            }

            .products .product {
                margin-bottom: 20px;
            }
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row">
            {{count}}
        </div>
        <div class="row">
            <div class="col-md-3 category">
                <h3>Category</h3>
                <ul>
                    {% for category in categories %}
                    <li>
                        <a href="{% url 'cakeshop:cate_detail' category.id %}">
                            {{ category.name }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-lg-9 col-md-12 ">
                <div class="row">
                    <ul class="products">
                        {% for cake in cakes %}
                        <li class="product">
                            <div class="col-lg-3 product">
                                <img src="{{ cake.image_url }}" href="{% url 'cakeshop:cake_detail' cake.id %}" class="img-fluid">
                                <h4>{{ cake.name }}</h4>
                                <p>{{ cake.price }} VND</p>
                                <a href="{% url 'cakeshop:cake_detail' cake.id %}">
                                    preview {{ cake.name }}
                                </a>
                                <a href="{% url 'cakeshop:add_to_cart' cake.id %}" onclick="reloadPage()">
                                    Add to cart {{ cake.name }}
                                </a>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="row">
                    <ul class="products">
                        {% for cake in cakes %}
                        <li class="product">
                            <div class="col-lg-3 product">
                                <img src="{{ cake.image_url }}" href="{% url 'cakeshop:cake_detail' cake.id %}" class="img-fluid">
                                <h4>{{ cake.name }}</h4>
                                <p>{{ cake.price }} VND</p>
                                <a href="{% url 'cakeshop:cake_detail' cake.id %}">
                                    preview {{ cake.name }}
                                </a>
                                <a href="{% url 'cakeshop:add_to_cart' cake.id %}" onclick="reloadPage()">
                                    Add to cart {{ cake.name }}
                                </a>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="row">
                    <ul class="products">
                        {% for cake in cakes %}
                        <li class="product">
                            <div class="col-lg-3 product">
                                <img src="{{ cake.image_url }}" href="{% url 'cakeshop:cake_detail' cake.id %}" class="img-fluid">
                                <h4>{{ cake.name }}</h4>
                                <p>{{ cake.price }} VND</p>
                                <a href="{% url 'cakeshop:cake_detail' cake.id %}">
                                    preview {{ cake.name }}
                                </a>
                                <a href="{% url 'cakeshop:add_to_cart' cake.id %}" onclick="reloadPage()">
                                    Add to cart {{ cake.name }}
                                </a>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="row">
                    <ul class="products">
                        {% for cake in cakes %}
                        <li class="product">
                            <div class="col-lg-3 product">
                                <img src="{{ cake.image_url }}" href="{% url 'cakeshop:cake_detail' cake.id %}" class="img-fluid">
                                <h4>{{ cake.name }}</h4>
                                <p>{{ cake.price }} VND</p>
                                <a href="{% url 'cakeshop:cake_detail' cake.id %}">
                                    preview {{ cake.name }}
                                </a>
                                <a href="{% url 'cakeshop:add_to_cart' cake.id %}" onclick="reloadPage()">
                                    Add to cart {{ cake.name }}
                                </a>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="row">
                    <ul class="products">
                        {% for cake in cakes %}
                        <li class="product">
                            <div class="col-lg-3 product">
                                <img src="{{ cake.image_url }}" href="{% url 'cakeshop:cake_detail' cake.id %}" class="img-fluid">
                                <h4>{{ cake.name }}</h4>
                                <p>{{ cake.price }} VND</p>
                                <a href="{% url 'cakeshop:cake_detail' cake.id %}">
                                    preview {{ cake.name }}
                                </a>
                                <a href="{% url 'cakeshop:add_to_cart' cake.id %}" onclick="reloadPage()">
                                    Add to cart {{ cake.name }}
                                </a>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="row">
                    <ul class="products">
                        {% for cake in cakes %}
                        <li class="product">
                            <div class="col-lg-3 product">
                                <img src="{{ cake.image_url }}" href="{% url 'cakeshop:cake_detail' cake.id %}" class="img-fluid">
                                <h4>{{ cake.name }}</h4>
                                <p>{{ cake.price }} VND</p>
                                <a href="{% url 'cakeshop:cake_detail' cake.id %}">
                                    preview {{ cake.name }}
                                </a>
                                <a href="{% url 'cakeshop:add_to_cart' cake.id %}" onclick="reloadPage()">
                                    Add to cart {{ cake.name }}
                                </a>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="row">
                    <ul class="products">
                        {% for cake in cakes %}
                        <li class="product">
                            <div class="col-lg-3 product">
                                <img src="{{ cake.image_url }}" href="{% url 'cakeshop:cake_detail' cake.id %}" class="img-fluid">
                                <h4>{{ cake.name }}</h4>
                                <p>{{ cake.price }} VND</p>
                                <a href="{% url 'cakeshop:cake_detail' cake.id %}">
                                    preview {{ cake.name }}
                                </a>
                                <a href="{% url 'cakeshop:add_to_cart' cake.id %}" onclick="reloadPage()">
                                    Add to cart {{ cake.name }}
                                </a>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="row">
                    <ul class="products">
                        {% for cake in cakes %}
                        <li class="product">
                            <div class="col-lg-3 product">
                                <img src="{{ cake.image_url }}" href="{% url 'cakeshop:cake_detail' cake.id %}" class="img-fluid">
                                <h4>{{ cake.name }}</h4>
                                <p>{{ cake.price }} VND</p>
                                <a href="{% url 'cakeshop:cake_detail' cake.id %}">
                                    preview {{ cake.name }}
                                </a>
                                <a href="{% url 'cakeshop:add_to_cart' cake.id %}" onclick="reloadPage()">
                                    Add to cart {{ cake.name }}
                                </a>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="row">
                    <ul class="products">
                        {% for cake in cakes %}
                        <li class="product">
                            <div class="col-lg-3 product">
                                <img src="{{ cake.image_url }}" href="{% url 'cakeshop:cake_detail' cake.id %}" class="img-fluid">
                                <h4>{{ cake.name }}</h4>
                                <p>{{ cake.price }} VND</p>
                                <a href="{% url 'cakeshop:cake_detail' cake.id %}">
                                    preview {{ cake.name }}
                                </a>
                                <a href="{% url 'cakeshop:add_to_cart' cake.id %}" onclick="reloadPage()">
                                    Add to cart {{ cake.name }}
                                </a>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="row">
                    <ul class="products">
                        {% for cake in cakes %}
                        <li class="product">
                            <div class="col-lg-3 product">
                                <img src="{{ cake.image_url }}" href="{% url 'cakeshop:cake_detail' cake.id %}" class="img-fluid">
                                <h4>{{ cake.name }}</h4>
                                <p>{{ cake.price }} VND</p>
                                <a href="{% url 'cakeshop:cake_detail' cake.id %}">
                                    preview {{ cake.name }}
                                </a>
                                <a href="{% url 'cakeshop:add_to_cart' cake.id %}" onclick="reloadPage()">
                                    Add to cart {{ cake.name }}
                                </a>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="row">
                    <ul class="products">
                        {% for cake in cakes %}
                        <li class="product">
                            <div class="col-lg-3 product">
                                <img src="{{ cake.image_url }}" href="{% url 'cakeshop:cake_detail' cake.id %}" class="img-fluid">
                                <h4>{{ cake.name }}</h4>
                                <p>{{ cake.price }} VND</p>
                                <a href="{% url 'cakeshop:cake_detail' cake.id %}">
                                    preview {{ cake.name }}
                                </a>
                                <a href="{% url 'cakeshop:add_to_cart' cake.id %}" onclick="reloadPage()">
                                    Add to cart {{ cake.name }}
                                </a>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="row">
                    <ul class="products">
                        {% for cake in cakes %}
                        <li class="product">
                            <div class="col-lg-3 product">
                                <img src="{{ cake.image_url }}" class="img-fluid">
                                <h4>{{ cake.name }}</h4>
                                <p>{{ cake.price }} VND</p>
                                <a href="{% url 'cakeshop:cake_detail' cake.id %}">
                                    preview
                                </a>                                
                                <a href="{% url 'cakeshop:add_to_cart' cake.id %}" onclick="reloadPage()">
                                    Add to cart
                                </a>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                
            </div>
        </div>
    </div>
    <script>
        function reloadPage() {
			// Save current scroll position in session storage
			sessionStorage.setItem('scrollPosition', window.scrollY);

			// Reload page
			location.reload();
		}

		// Restore scroll position on page load
		window.onload = function() {
			var scrollPosition = sessionStorage.getItem('scrollPosition');
			if (scrollPosition !== null) {
				window.scrollTo(0, scrollPosition);
			}
		};
    </script>
</body>

</html>